.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.no-bullets {
  list-style-type: none;
  padding-left: 0; /* Optional: remove default padding */
}

.pokemon-list-item {
  margin-bottom: 0.5em; /* Adjust this value as needed for double spacing */
}

body {
  background-color: #2a2a2a;
  color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  text-decoration: none; /* Optional: This removes the underline from links */
}

a:hover {
  text-decoration: underline; /* Optional: This will underline the link when you hover over it */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* takes the full width of the container */
}

.pokeball-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  overflow-x: auto;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.table-container tr:nth-child(even) {
  background-color: #444;
}

.table-container tr:nth-child(odd) {
  background-color: #555;
}

.chart-container {
  flex: 1;
  position: relative;
  height: 500px;
  background-color: #333;
}

.pokemon-sprite {
  width: 300px;
  height: 300px;
}

.pokemon-details-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-details-table table {
  border-collapse: collapse;
  margin: 0 auto;
}

.pokemon-details-table th,
.pokemon-details-table td {
  padding: 10px;
  text-align: center;
}

.pokemon-details-table tr:nth-child(even) {
  background-color: #444;
}

.pokemon-details-table tr:nth-child(odd) {
  background-color: #555;
}
